/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    overflow: scroll;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}








@font-face {
    font-family: Landmark;
    src: url('../Landmark-Regular.ttf');
}


body {
  background-color: Gold;
  font-family: "Landmark";
}

.frontPage {
  /*width: 100vw;*/
  /*height: 100vh;*/
  background-color: yellow;
  position: relative;
}

.navbar {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: black;
  font-size: 1.5em;
  padding: 0.5em 0.5em;
  box-sizing: border-box;
}

@media (min-width: 1000px) {
  .navbar {
    font-size: 2em;
  }
}

.categories {
  margin-right: 6em;
}

.social {
  position: absolute;
  right: 0.5em;
  bottom: 0.3em;
  color: white;
}

@media (max-width: 700px) {
  .social {
    width: 100%;
    position: static;
    right: 0;
    text-align: center;
    margin-top: 0.5em;

  }
  .navbar {
    position: static;

  }
  .categories {
    margin: 0;
    text-align: left;
  }
}

.headline {
  width: 100%;
  position: absolute;
  top: 0;
}

a {
  text-decoration: none;
  color: DarkSlateGrey;
  margin-right: 0.5em;
}

.frontTitle {
  font-size: 3em;
  margin-left: 1em;
  margin-right: 3em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  line-height: 1em;
  /*color: yellow;*/
}

.yellyell {
  text-align: right;
  float: right;
  position: absolute;
  top: 50%;
  right: 1em;
  margin-top: -0.5em;
  line-height: 1em;
  color: Black;
}

@media (max-width: 700px) {
  .yellyell {
    text-align: center;
    width: 100vw;
    position: relative;
    right: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .frontTitle {
    margin: 0.2em;
    text-align: center;
    font-size: 2em;
  }
}

.frontImage {
  width: 100vw;
  height: 100vh;
  background-image: url('../img/Circle.jpg');
  background-size: cover;
  background-position: center;
}

.articles {
  width: 100vw;
  position: relative;
}

.article {
  width: 100vw;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.articleImage {
  width: 56%;
  height: 100%;
  /*background-color: black;*/
  /*background-image: url('../img/Circle.jpg');*/
  background-size: cover;
  background-position: center;
  float: left;
  z-index: -10;
}

.articleTitle {
  width: 50%;
  height: 100%;
  /*background-color: IndianRed;*/
  float: left;
  font-size: 3em;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  z-index: 1;
  position: relative;
  box-sizing: border-box;
}

.left a {
  text-align: right;
  padding-left: 0.5em;
  width: 100%;
  margin: 0;
}

.right a {
  text-align: left;
  padding-right: 0.5em;
  width: 100%;
  margin: 0;
}

.left .articleTitle {
  position: absolute;
  left: 0;
}

.right .articleTitle {
  position: absolute;
  right: 0;
}

.left .articleImage {
  position: absolute;
  right: 0;
}

.right .articleImage {
  position: absolute;
  left: 0;
}

.articleTitle a {
  z-index: 10
}

@media (max-width: 700px) {
  .articleTitle {
    font-size: 1.5em;
  }

  .article {
    height: 200px;
  }
}

.trapezoid {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 100%;
}

/*.rightDownTrapezoid {
  position: absolute;
  top: 0;
  right: 0;
  border-bottom: 33vw solid;
	border-left: 5vw solid transparent;
	border-right: 0px solid transparent;
	height: 0;
	width: 50vw;
  box-sizing: border-box;
  z-index: 0;
}

.leftUpTrapezoid {
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 33vw solid;
	border-left: 0 solid transparent;
	border-right: 5vw solid transparent;
	height: 0;
	width: 50vw;
  box-sizing: border-box;
  z-index: 10;
}

.rightUpTrapezoid {
  position: absolute;
  top: 0;
  right: 0;
  border-top: 33vw solid;
	border-left: 5vw solid transparent;
	border-right: 0px solid transparent;
	height: 0;
	width: 55vw;
  box-sizing: border-box;
  z-index: 0;
}

.leftDownTrapezoid {
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 33vw solid;
	border-left: 0 solid transparent;
	border-right: 5vw solid transparent;
	height: 0;
	width: 55vw;
  box-sizing: border-box;
  z-index: 10;
}*/

.articleLink {
  text-align: right;
}

.footer {
  width: 100vw;
  background-color: black;
  font-size: 1.5em;
  padding: 0.5em 0.5em;
  box-sizing: border-box;
  text-align: center;
}
